@model IEnumerable<Homie.Areas.Series.Models.MoviesModel>

@{
    ViewBag.Title = "Архив сериалов";
    ViewBag.HeaderTitle = "- [ Архив ]";
}
<table class="table table-bordered table-striped table-sm">
    <tr><th>Название</th><th>Сезон</th><th>Серия</th><th>Категория</th><th>Время</th><th></th></tr>
    @foreach (var p in Model)
    {
<tr>
    <td><a href=@p.Link target="_blank">@p.Name</a></td>
    <td>@p.Season</td>
    <td>@p.Episode</td>
    <td>@p.Category</td>
    <td>@p.HoldPlay</td>

    <td>
        <a asp-action="BackToList" asp-controller="Home" asp-route-id="@p.Id" class="btn btn-secondary"
           role="button">Вернуть</a>
        <a asp-action="Edit" asp-controller="Home" asp-route-id="@p.Id" class="btn btn-success"
           role="button">Изменить</a>
        <a asp-action="Delete" asp-controller="Home" asp-route-id="@p.Id" class="btn btn-danger"
           role="button">Удалить</a>
    </td>
</tr>

    }
</table>    