@model IEnumerable<Homie.Areas.Series.Models.ArchMovies>
@{ Layout = "~/Views/Shared/_Layout.cshtml"; }
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ArchMovies</title>
    <link rel="stylesheet" asp-href-include="lib/bootstrap/dist/css/*.min.css" />
</head>
<body class="m-1 p-1">
    <table class="table table-bordered table-striped table-sm">
        <tr><th>Name</th><th>Season</th><th>Episode</th><th>StopPlayMinute</th><th>StopPlaySecond</th></tr>
        @foreach (var p in Model)
        {
            <tr><td>@p.Name</td><td>@p.Season</td><td>@p.Episode</td><td>@p.StopPlayMinute</td><td>@p.StopPlaySecond</td></tr>
        }
    </table>
    <a asp-action="Index" asp-controller="Home">Link</a>
</body>
</html>