@model IEnumerable<Homie.Areas.Series.Models.Movies>
@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

<html>
<head>    
    
</head>
<body class="m-1 p-1">
   
    <a asp-action="Create" asp-controller="Home" asp-area="Series" 
       class="btn btn-outline-primary" 
       role="button">Добавить</a>
    <p></p>

    <table class="table table-bordered table-striped table-sm">
        <tr><th>Название</th><th>Сезон</th><th>Серия</th><th>Минуты</th><th>Секунды</th><th></th></tr>
        @foreach (var p in Model)
        {
            <tr>
                <td>@p.Name</td>
                <td>@p.Season</td>
                <td>@p.Episode</td>
                <td>@p.StopPlayMinute</td>
                <td>@p.StopPlaySecond</td>

                <td>
                    <a asp-action="Details" asp-controller="Home" asp-route-id="@p.Id">Просмотр</a> |
                    <a asp-action="Edit" asp-controller="Home" asp-route-id="@p.Id">Изменить</a> |
                    <a asp-action="Delete" asp-controller="Home" asp-route-id="@p.Id">Удалить</a>
                </td>
            </tr>




        }
    </table>

</body>
</html>