@model Homie.Areas.Battletech.Models.BTMechsModel

@{
    ViewBag.Title = "Добавить";

}

<style>
    .text-input-width {
        width: 328px;
    }

    .number-input-width {
        width: 80px;
    }
</style>

<form asp-action="create" asp-controller="home">
    <div class="form-group">
        <label asp-for="Name" class="control-label">Название</label>
        <input type="text" asp-for="Name" value="@ViewBag.temp_Name_trns" class="form-control text-input-width" id="inputName" />
    </div>
    <div class="form-group">
        <label asp-for="Tonnage" class="control-label">Вес (тонн)</label>
        <input type="text" asp-for="Tonnage" value="@ViewBag.temp_Tonnage_trns" class="form-control text-input-width" id="inputTonnage" />
    </div>
    <div class="form-group">
        <label asp-for="Bv" class="control-label">BV</label>
        <input type="text" asp-for="Bv" value="@ViewBag.temp_BV_trns" class="form-control text-input-width" id="inputBV" />
    </div>
    <div class="form-group">
        <label asp-for="TypeMech" class="control-label">Тип</label>
        <select asp-for="TypeMech"
                asp-items="@ViewBag.temp_TypeMech_trns"
                class="form-control text-input-width" id="select" name="TypeMech">           
        </select>
    </div>

    <div class="form-group">
        @*<label asp-for="ImgBT" class="control-label">Uid картинки: @ViewBag.Img_UID_trns</label>*@
        <input type="hidden" asp-for="ImgBT" value="@ViewBag.Img_UID_trns" class="form-control text-input-width" />
    </div>


    <div class="form-group">
        <input type="submit" value="Добавить" class="btn btn-primary" />
        <a asp-action="Index" asp-controller="Home" asp-area="Battletech" class="btn btn-danger" role="button">Назад</a>
    </div>
</form>

<form asp-action="CreateImgMech" asp-controller="Home" asp-area="Battletech" method="post" enctype="multipart/form-data">
    <fieldset style="width:328px">

        <div class="form-group">
            <input name="tempName" type="hidden" id="tempName" />
            <input name="tempTonnage" type="hidden" id="tempTonnage" />
            <input name="tempBV" type="hidden" id="tempBV" />
            <input name="tempTypeMech" type="hidden" id="tempTypeMech" />
        </div>

        <div class="form-group">
            <label>Изображение</label>
            <input name="AvatarFile" type="file" class="form-control" />
        </div>
        <div class="form-group">
            <input type="submit" value="Добавить картинку" class="btn btn-success" />
        </div>
    </fieldset>
</form>


<script>
    $(document).ready(function () {

        $("#inputName").keyup(function () {
            var $rtempName = $('#tempName');
            var $rinputName = $('#inputName');
            $rtempName.val($rinputName.val());
        });
        $("#inputTonnage").keyup(function () {
            var $rtempTonnage = $('#tempTonnage');
            var $rinputTonnage = $('#inputTonnage');
            $rtempTonnage.val($rinputTonnage.val());
        });
        $("#inputBV").keyup(function () {
            var $rtempBV = $('#tempBV');
            var $rinputBV = $('#inputBV');
            $rtempBV.val($rinputBV.val());
        });

    });

    $(document).ready(function () {        
        const select = ('select[name=TypeMech]');
        var input = $('#tempTypeMech');        
        
        $(select).change(function () {
            let val = $(this).val();           

            $(input).val(val);            
        })        
    })

</script>