@using Homie.Models
@model IndexViewModel

@{
    ViewBag.Title = "Список Ростер";
    ViewBag.HeaderTitle = "BT - [Ангар]";
}

<style>
    .table-striped > tbody > tr:nth-child(odd) > td,
    .table-striped > tbody > tr:nth-child(odd) > th {
        background-color: sandybrown;
    }

    .scroll-x {
        overflow-x: auto;
    }
</style>

<a asp-action="Create" asp-controller="Home" asp-area="Battletech"
   class="btn btn-primary"
   role="button">Добавить</a>
<p></p>

<div class="scroll-x">
    <table class="table table-bordered table-striped table-sm">
        <tr><th>Название</th>
        <th>Вес (тонн)</th>
        <th>Изображение</th>
        <th>BV</th>       
        <th>Тип</th>
        <th></th></tr>

        @foreach (var p in Model.Mechs)
        {
    <tr>
        <td><a href=@p.Name target="_blank">@p.Name</a></td>
        <td>@p.Tonnage</td> 
        <td>
            @foreach (var k in Model.Images)
            {
                if (k._uid.ToString() == p.ImgBT)
                {
                    <img style='width:180px; height:160px;' src="data:image/jpeg;base64,@(Convert.ToBase64String(k.Avatar))" />
                }
            }
        </td>
        <td>@p.Bv</td>       
        <td>@foreach (var t in p.TypeMechList)
        {
            if (t.Value == p.TypeMech)
            {
                    @t.Text
            }
        }
        </td>

        <td>
            <a asp-action="Edit" asp-controller="Home" asp-route-id="@p.Id" class="btn btn-success"
               role="button">Изменить</a>

            <a asp-action="Delete" asp-controller="Home" asp-route-id="@p.Id" class="btn btn-danger"
               role="button">Удалить</a>

            <a asp-action="@if (p.ImgBT != null)
                            {
                                @ViewBag.EditImgMech 
                            }
                            else 
                            {
                                @ViewBag.EditToCreateImgMech
                            }"
               asp-controller="Home" 
               asp-route-id="@if (p.ImgBT != null)
                            { 
                                @p.ImgBT
                            }
                            else
                            {
                                @p.Id
                            }"

               class="btn btn-info"
               role="button">Изображение</a>
        </td>
    </tr>

        }
    </table>
</div>


