@using Homie.Models
@model IEnumerable<BTPilotsModel>

@{
    ViewBag.Title = "Пилоты";
    ViewBag.HeaderTitle = "BT - [Казарма]";
}

<style>
    .table-striped > tbody > tr:nth-child(odd) > td,
    .table-striped > tbody > tr:nth-child(odd) > th {
        background-color: #ccccff;
    }

    .scroll-x {
        overflow-x: auto;
    }

    .buttons .btn {
        width: 130px;
    }

    .buttons {
        display: table-cell;
        vertical-align: middle;
    }

    .scroll-x .img_centr {
        text-align: center;
    }
</style>

<a asp-action="Create" asp-controller="Pilots" asp-area="Battletech"
   class="btn btn-primary"
   role="button">Добавить</a>
<p></p>

<div class="scroll-x">
    <table class="table table-bordered table-striped table-sm">
        <tr>
            <th>Имя</th>
            @*<th>Опыт</th>*@
            <th>Стрельба</th>
            <th>Пилотинг</th>            
            @*<th>Хиты</th>
            <th>Рейтинг</th>*@
            <th>Мех</th>
            <th></th>
        </tr>

        @foreach (var p in Model)
        {
    <tr>
        <td><a href=@p.Name target="_blank">@p.Name</a></td>
        @*<td>@p.Experience</td>*@
        <td>@p.Gunnery
        </td>
        <td>@p.Piloting
        </td>
        @*<td>@p.Hits</td>
        <td>@p.Raiting</td>*@
        <td>@p.BTMechsModel?.Name</td>

        <td style="vertical-align: middle">
            <div class="buttons">
                <a asp-action="Edit" asp-controller="Pilots" asp-route-id="@p.Id" class="btn btn-success"
                   role="button">Изменить</a><p></p>

                <a asp-action="Delete" asp-controller="Pilots" asp-route-id="@p.Id" class="btn btn-danger"
                   role="button">Удалить</a><p></p>
            </div>
        </td>
    </tr>

         }
    </table>
</div>


