@using Homie.Models
@model IndexViewModel

@{
    ViewBag.Title = "Архив сериалов";
    ViewBag.HeaderTitle = "Сериалы - [Архив]";
}

<style>
    @@font-face {
        font-family: 'FontAwesome';
        src: url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2') format('woff2'), 
            url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff') format('woff'), 
            url('https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/fonts/fontawesome-webfont.ttf') format('truetype');
        font-weight: normal;
        font-style: normal
    }

    .glyphicon {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale
    }

    .glyphicon-chevron-right:before {
        content: "\f054";
    }

    .glyphicon-chevron-left:before {
        content: "\f053";
    }

    .scroll-x {
        overflow-x: auto;
    }
</style>

<form method="get">
    <div class="form-inline">
        <label>Название: </label>
        <input name="name" value="@Model.MovieFilterViewModel.SelectedName" class="form-control" />

        <input type="submit" value="Фильтр" class="btn btn-outline-dark" />
    </div>
</form>
<p></p>

<div class="scroll-x">
    <table class="table table-bordered table-striped table-sm">
        <tr>
            <th>
                <center>Название</center>
            </th>
            <th>
                <center>Сезон</center>
            </th>
            <th>
                <center>Серия</center>
            </th>
            <th>
                <center>Жанр</center>
            </th>
            <th>
                <center>Стоп Время</center>
            </th>
            <th></th>
        </tr>
        @foreach (var p in Model.Series)
        {
            <tr>
                <td>
                    <center>
                        <a href=@p.Link target="_blank">@p.Name</a>
                    </center>
                    <p>
                        <center>
                            <img style='width:200px; height:260px;' src="data:image/jpeg;base64,@(Convert.ToBase64String(p.Avatar))" />
                        </center>
                    </p>
                </td>
                <td><center>@p.Season</center></td>
                <td><center>@p.Episode</center></td>
                <td><center>@p.Category</center></td>
                <td>
                    <center>
                        @if (p.HoldPlay.HasValue)
                        {
                            @p.HoldPlay.Value.TimeOfDay
                        }
                        else
                        {
                            @String.Empty
                        }
                    </center>
                </td>

                <td>
                    <a asp-action="FromArchiveGoToWatching" asp-controller="Serie" asp-route-id="@p.Id" class="btn btn-primary"
                       role="button">В Просмотр</a>
                    <a asp-action="FromArchiveGoToIndex" asp-controller="Serie" asp-route-id="@p.Id" class="btn btn-secondary"
                       role="button">В Список</a>
                    <a asp-action="Edit" asp-controller="Serie" asp-route-id="@p.Id" class="btn btn-success"
                       role="button">Изменить</a>
                    <a asp-action="Delete" asp-controller="Serie" asp-route-id="@p.Id" class="btn btn-danger"
                       role="button">Удалить</a>
                </td>
            </tr>

        }
    </table>
</div>

    @if (Model.PageViewModel.HasPreviousPage)
    {
        <a asp-action="ArchMovies"
           asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
           class="btn btn-outline-dark">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Назад
        </a>
    }
    @if (Model.PageViewModel.HasNextPage)
    {
        <a asp-action="ArchMovies"
           asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
           class="btn btn-outline-dark">
            Вперед
            <i class="glyphicon glyphicon-chevron-right"></i>
        </a>
    }
    <p></p>
